**/node_modules/
**/out/
**/dist/
**/dist-sea/
**/dist-npm/
**/build/
**/lib/
!/clients/gui-app/src/lib/
**/@types/
**/.eslintcache
**/.env
.vscode/
.nx/
logs/
**/.DS_Store
.cursorrules
.cursor
.codex/
.opencode/
.idea/
tmp
coverage*.json
.claude
.agents
*.tsbuildinfo
